// Variables para el ejemplo //
@baseFontSize: 16px;
@baseFontFamily: Helvetica, sans-serif;
@quoteFontFamily: Georgia, serif;

// Damos estilos al párrafo y blockquote con
LESS //
p { font-family: @baseFontFamily;
font-size: @baseFontSize; }
blockquote { font-family: @quoteFontFamily;
font-size: @baseFontSize + 4; }