.bloque {
margin: 10px 5px;
padding: 2px;
}

p {
    .bloque; /* Hereda estilos de '.bloque' */
    border: 1px solid #EEE;
}

ul, ol {
    .bloque; /* Hereda estilos de '.bloque' */
    color: #333;
    text-transform: uppercase;
}
