.custom-date-input {
  min-width: 180px;
}

.input-group {
  flex: 1 1 0%;
}

.contenedor-estancia-perfecta {
  background-image: url("../img/landing/tu-estancia.jpg");
  background-size: cover;
  background-position: center;
  min-height: 400px;
  position: relative;
}

.overlay-rosa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(230, 150, 140, 0.9);
}

.habitaciones {
  background-color: #e8927c;
}

.contenedor-estancia-inolvidable {
  background-image: url("../img/landing/estancia-inolvidable.jpg");
  background-size: cover;
  background-position: center;
  min-height: 500px;
  position: relative;
}

.overlay-oscuro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-inner {
}

/* media query lg */
@media (min-width: 992px) {
  .foto-descubre-desktop {
    max-width: 400px;
    border-radius: 0 !important;
  }

  .tu-estancia {
    max-width: 1000px;
  }

  .foto-tu-estancia {
    max-width: 400px;
  }
}
