.main-container {
  background-image: url("../img/landing/background.svg");
  background-position: center center;
  min-height: 300px;
}

.button-create-petition {
  background-color: #f8e74a;
  border-right: 2px solid #ffb64d;
  border-bottom: 2px solid #ffb64d;
  border-radius: 6px;
}

.button-create-petition:hover {
  background-color: #ffed4b !important;
  border-right: 2px solid #ffb64d;
  border-bottom: 2px solid #ffb64d;
  border-radius: 6px;
}

.button-start-ai {
  border: 1px solid #acadad !important;
  background-color: #ffffff;
}

.button-start-ai:hover {
  border: 1px solid #acadad !important;
  background-color: #f5f5f6;
}

main h1 {
  font-size: 44px;
}

main h3,
main h3 span {
  font-size: 27px;
}

#carouselExampleCaptions {
  margin-bottom: 10rem;
}

#carouselExampleCaptions img {
  width: 200px !important;
  height: 200px !important;
  object-fit: cover;
  border-radius: 50%;
}

.carousel {
  width: 400px !important;
}

.carousel-caption {
  color: black;
  position: relative;
  top: -60px;
  left: 88px;
  max-width: 225px;
}

.contenedor-victoria {
  background-color: #0d4dfb;
  border-radius: 999px;
  max-width: fit-content;
}

.contenedor-victoria h4 {
  font-size: 18px;
}

.contenedor-victoria h5 {
  font-size: 16px;
}

.punto-naranja {
  height: 10px;
  width: 10px;
  background-color: #f34e49;
  border-radius: 50%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  opacity: 1 !important;
  color: rgb(71 113 255);
  position: relative;
  top: 65px;
}

.carousel-control-next-icon {
  width: 24px;
  right: 30px;
}

.carousel-control-prev-icon {
  width: 24px;
  left: 30px;
}

.circulo-img img {
  width: 200px !important;
  height: 200px !important;
  object-fit: cover;
  border-radius: 50%;
}

.circulo-caption {
  color: black;
  position: relative;
  text-align: center;
  top: -30px;
  max-width: 225px;
}

.contenedor-victoria-desktop {
  background-color: #faf8fd;
  border-radius: 999px;
  max-width: fit-content;
  border: solid 1px #e1dde9;
}

.contenedor-victoria-desktop h4 {
  font-size: 18px;
}

.contenedor-victoria-desktop h5 {
  font-size: 16px;
}

.fs-5rem {
  font-size: 5rem !important;
}

.fs-2rem {
  font-size: 2rem !important;
}

.fs-1rem {
  font-size: 1rem !important;
}

.abs-top-izq {
}

.abs-top-der {
}

.abs-centro {
  position: absolute;
  // top: 30px;
  top: 4%;
}

.abs-abajo-izq {
  position: absolute;
  left: 10%;
  top: 40%;
}

.abs-abajo-centro {
  position: absolute;
  top: 59%;
  left: 43%;
}

.abs-abajo-der {
  position: absolute;
  right: 10%;
  top: 40%;
}

.paso-azul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  background-color: #0d4dfb;
  color: white;
  font-size: 1.125rem;
  border-radius: 50%;
}

.fs-1rem {
  font-size: 1rem;
}

.bg-gris-plataforma {
  background-color: #faf8fd;
}

.flex-1 {
  flex: 1 1 0%;
}

.btn-categoria {
  border: 1px solid #4771ff;
  border-radius: 0.25rem;
  background-color: #ffffff;
  color: #003193;
  font-size: 1.125rem;
  line-height: 1.5rem;
  padding-left: 1rem;
  padding-right: 0.75rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.btn-categoria:hover {
  background-color: #f0f7ff;
}

.icono-categoria {
  width: 24px;
  height: 24px;
  color: rgb(71, 113, 255);
}

.fs-1125 {
  font-size: 1.125rem;
}

.icono-cards {
  width: 24px;
  height: 24px;
  color: #4771ff;
}

.texto-card-firmas {
  color: #003193;
}

.card-causa {
  max-width: 348px;
}

.card-causa h6 {
  margin: 0;
}

.card-causa .card-body {
  padding-bottom: 16px !important;
}

.card-causa:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4) !important;
}

@media (min-width: 992px) {
  .text-lg-center {
    text-align: center !important;
  }

  .mw-desktop-card-causa {
    // width: 284px !important;
    min-height: 100% !important;
  }
}

@media (max-width: 1200px) {
  .fs-cambio-responsive {
    font-size: 3rem !important;
  }

  .fs-unete-responsive {
    font-size: 2rem !important;
  }

  .abs-top-izq {
    position: absolute;
    left: -5%;
  }

  .abs-top-der {
    position: absolute;
    right: -5%;
  }

  .abs-centro {
    position: absolute;
    top: 4%;
  }

  .abs-abajo-izq {
    position: absolute;
    left: 5%;
    top: 40%;
  }

  .abs-abajo-centro {
    position: absolute;
    top: 59%;
    left: 40%;
  }

  .abs-abajo-der {
    position: absolute;
    right: 4%;
    top: 40%;
  }
}

@media ((min-width: 1201px) and (max-width: 1400px)) {
  .fs-cambio-responsive {
    font-size: 4rem !important;
  }

  .fs-unete-responsive {
    font-size: 2rem !important;
  }

  .abs-top-izq {
    position: absolute;
    left: 0%;
  }

  .abs-top-der {
    position: absolute;
    right: 0%;
  }

  .abs-centro {
    position: absolute;
    top: 4%;
  }

  .abs-abajo-izq {
    position: absolute;
    left: 11%;
    top: 40%;
  }

  .abs-abajo-centro {
    position: absolute;
    top: 59%;
    left: 41%;
  }

  .abs-abajo-der {
    position: absolute;
    right: 11%;
    top: 40%;
  }
}
