$font-family-sans-serif: "Commissioner", system-ui, -apple-system, "Segoe UI",
  Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$body-color: #403a49 !default;

$font-weight-base: 400 !default;
@import "../scss/bootstrap.scss";
