.top20 {
  top: 10px !important;
}

.sticky-form {
  overflow-y: auto;
}

.fs-small {
  font-size: 14px;
}

.fs-title {
  font-size: 40px;
}

.fs-medium {
  font-size: 24px;
}

.icono-firmar {
  width: 24px;
  height: 24px;
}

.texto-peticion {
  line-height: 28px;
  font-size: 16px;
}

.fs-2rem {
  font-size: 2rem;
}

@media (min-width: 992px) {
  .text-lg-start {
    text-align: start;
  }
}
