* {
  box-sizing: border-box;
}

h1,
h4,
p {
  margin: 0px;
}

body {
  background-color: white;
}

img {
  width: 25%;
}

.container {
  color: #666666;
  font-family: "Lobster", cursive;
  margin: 20px auto;
  width: 90%;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
}

.content_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

nav {
  flex-grow: 1.75;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 8;
  flex-basis: 0;
  border: 1px solid grey;
  border-radius: 15px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 5rem;
  padding-top: 1rem;
}

main img {
  width: 80%;
  height: 225px;
  border-radius: 15px;
}

main p {
  text-align: center;
}

article img {
  width: 100%;
  height: 200px;
  border-radius: 15px;
}

.article-content-wrapper {
  flex-grow: 5;
  flex-basis: 0;
  border: 1px solid grey;
  border-radius: 15px;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
}

.articles {
  display: flex;
  justify-content: flex-end;
  padding-left: 8rem;
  margin-bottom: 1rem;
  gap: 2rem;
}

.articles article {
  border: 1px solid grey;
  border-radius: 15px;
  flex-grow: 1;
  padding-bottom: 3rem;
}

.articles article img {
  width: 100%;
  height: 175px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid black;
  padding-top: 2rem;
}

.social {
  display: flex;
  justify-content: flex-end;
}

.copyright {
  text-align: center;
}
