@import "custom.scss";

.custom-date-input {
  min-width: 180px;
}

.input-group {
  flex: 1 1 0%;
}

.contenedor-estancia-perfecta {
  background-image: url("../img/landing/tu-estancia.jpg");
  background-size: cover;
  background-position: center;
  min-height: 400px;
  position: relative;
}

.overlay-rosa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($primary, 0.9);
}

.habitaciones {
  background-color: $primary;
}

.carousel {
  max-width: 600px;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-indicators [data-bs-target] {
  background-color: #ffffff;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  opacity: 1;
}

.carousel-indicators .active {
  background-color: #bebebe;
}

.carousel-controles-fuera {
  margin-bottom: 50px;
}

.carousel-control-prev,
.carousel-control-next {
  top: 50%;
  bottom: auto;
  width: auto;
  transform: translateY(-50%);
  opacity: 1;
}

.carousel-control-prev {
  left: 0;
  transform: translateY(-50%) translateX(-150%);
}

.carousel-control-next {
  right: 0;
  transform: translateY(-50%) translateX(150%);
}

.carousel-indicators {
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
  margin-left: 0;
}

.contenedor-estancia-inolvidable {
  background-image: url("../img/landing/estancia-inolvidable.jpg");
  background-size: cover;
  background-position: center;
  min-height: 500px;
  position: relative;
}

.overlay-oscuro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

/* media query lg */
@media (min-width: 992px) {
  .foto-descubre-desktop {
    max-width: 400px;
    border-radius: 0 !important;
  }

  .tu-estancia {
    max-width: 1000px;
  }

  .foto-tu-estancia {
    max-width: 400px;
  }
}
